<h1>New Asset</h1>
 
<%= form_for(@asset, :action => resource(:assets) ) do %>
  <p>
    <%= text_field :title, :label => "Title" %>
  </p>

  <p>
    <%= text_field :content, :label => "Content" %>
  </p>

  <p>
    <%= submit "Create" %>
  </p>
<% end =%>
 
<%= link_to 'Back', resource(:assets) %>

